/*
* Style Works for both Editor and Frontend
*/
.wp-block-ab-accordion {
	.ab_accordion {
		&-header h2 {
			margin: 0;
			padding: 0;
		}
		&-header button {
			all: unset;
		}
		&-panel {
			display: none;
			&.active {
				display: block;
			}
		}
	}
	div .ab_accordion-header {
		position: relative;
	}
	div .ab_accordion-header button::after {
		position: absolute;
		left: 0;
		width: 100%;
		content: "+";
		font-size: 1.25rem;
	}
	div .ab_accordion-header button[aria-expanded="true"]::after {
		content: "-";
	}
}
.ab_accordion-header h2,
	.ab_accordion-header h3,
	.ab_accordion-header h4 {
		margin: 0 auto .5rem;
	}
	.ab_accordion-header button {
		all: unset;
		border: 1px solid #1d2327;
		width: calc( 100% - 16px );
		padding: 8px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.ab_accordion-header button:focus,
	.ab_accordion-header button:hover,
	.ab_accordion-header button[aria-expanded="true"] {
		outline: 2px solid;
		outline-offset: 1px;
	}
	.ab_accordion-wrapper {
		display: none;
	}
	.ab_accordion-wrapper .ab__accordion-panel {
		overflow: hidden;
	}
	.ab_accordion-wrapper .ab__accordion-panel .ab__accordion-content {
		border: 1px solid;
		padding: 1rem;
		background: #fff;
		color: #1d2327;
		margin-bottom: .5rem;
	}